# Игнорировать системные файлы macOS
.DS_Store
# .app/config/service_account.json
# Игнорировать настройки среды разработки
.vscode/
.idea/

# Игнорировать виртуальные окружения
.venv
venv/
.env/

# Игнорировать кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Игнорировать зависимости, установленные через pipenv или poetry
Pipfile
Pipfile.lock
poetry.lock

# Игнорировать конфиденциальные данные и ключи
.env

# Игнорировать файлы и папки, создаваемые Digital Ocean или другими платформами
*.db
*.pid
*.log
